/* RESET */
:root {
  /* give me a nice background color */
  --background-color: #75d86e;
  --body-color: #d1f8c6;
  --navbar-hover-color: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  font-family: 'Playfair Display', serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.brand-title {
  font-size: 2.5rem;
  margin: 1rem;
  color: black;
  font-family: 'Lobster', cursive;
}

.navbar-links ul {
  display: flex;
  font-family: 'Playfair Display', serif;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1.6rem;
  display: block;
  font-size: 1.5rem;
}

.navbar-links li:hover {
  background-color: var(--navbar-hover-color);
}

/* FORM */

.form-container {
  background-color: #ffffff;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.form-container h1 {
  text-align: center;
  margin-top: 0.5rem;
}
.form-container form {
  display: flex;
  flex-direction: column;
}
.form-container form label {
  margin-bottom: 5px;
  font-weight: bold;
}
.form-container form input,
.form-container form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-container form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}
.form-container form button:hover {
  background-color: #0056b3;
}

.message-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 2.5rem;
}

.message {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* GET MESSAGES IN HOME ROUTE */

.message-author {
  font-size: 18px;
  margin: 0 0 5px;
  align-self: flex-start;
  border-bottom: 1px solid black;
}

.message-text {
  font-size: 14px;
  margin: 0 0 10px;
}

.message-timestamp {
  font-size: 12px;
  color: #777;
  width: 100%;
  text-align: right;
}
