<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} index {% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap" rel="stylesheet" />

    <link href="public/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar">
      <div class="brand-title">Backend? Backend!!</div>
      <a href="#" class="navbar-toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </a>

      <div class="navbar-links">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/add">Add</a></li>
        </ul>
      </div>
    </nav>

    <main>{% block main %} {% endblock %}</main>

  </body>
</html>